@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  min-height: 100%;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}

/* index */
/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #f8f8f8;
  box-shadow: 0 5px 15px rgba(130, 94, 92, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #4b4a4a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: chocolate;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: chocolate;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
/* header ends */

/* home starts */
#hero {
  background-image: url(images/bgimage.jpeg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  color: rgb(117, 115, 115);
}
#hero button {
  padding: 20px;
  margin-top: 30px;
  width: 250px;
  background-color: black;
  color: white;
  border: 1px solid whitesmoke;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
}
#hero button:hover {
  background-color: #977178;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}
#feature .col-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .col-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .col-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .col-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  background-color: chocolate;
  color: white;
}
/* home ends */

/* popular */
#collection1 {
  text-align: center;
}
#collection1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#collection1 .firstpro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
}
#collection1 .firstpro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#collection1 .firstpro img {
  width: 100%;
  border-radius: 20px;
}
#collection1 .firstpro h5 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  color: rgb(104, 102, 102);
}
/* popular ends */

/* sale item */
#product1 {
  text-align: center;
  background-color: #f7f7f7;
}
#product1 .main-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #465b52;
}
#product1 .pro .fa-solid {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: brown;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
/* sale item ends */

/* banner */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/model.jpeg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: white;
  font-size: 14px;
}
#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: brown;
}
#banner button:hover {
  background-color: #977178;
  color: white;
}
/* banner ends */

/* newsletter starts */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #977178;
}
#newsletter h4 {
  font-size: 30px;
  font-weight: 500;
  color: #465b52;
}
#newsletter p {
  font-size: 15px;
  font-weight: 400;
  color: white;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #465b52;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* newsletter ends */

/* footer starts */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: flex-start;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #515050;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: rgb(65, 17, 17);
  padding-right: 4px;
  cursor: pointer;
}
footer .follow i:hover,
footer a:hover {
  color: brown;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
/* footer ends */

/* media query starts */
@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #f6e9e7;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }

  #hero {
    height: 90vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
    background-color: #f7f7f7;
    padding: 40px 40px;
  }
  #feature .col-box {
    margin: 15px 15px;
  }
  #collection1 .pro-container {
    justify-content: center;
  }
  #collection1 .firstpro {
    margin: 15px;
  }
  #product1 .main-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 25vh;
  }
  #newsletter .form {
    width: 70%;
  }
  #form-details {
    padding: 40px !important;
  }
  #form-details form {
    width: 50% !important;
    margin-right: 20px;
  }
  #location .map iframe {
    width: 80% !important;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  h2 {
    font-size: 35px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .col-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #collection1 .firstpro {
    width: 100%;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }

  /* single product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100% !important;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100% !important;
  }

  #blog {
    padding: 100px 20px 0 20px !important;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-image {
    width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100% !important;
  }

  #about-us {
    flex-direction: column;
  }
  #about-us img {
    width: 100% !important;
    margin-bottom: 20px;
  }
  #about-us div {
    padding-left: 0px !important;
  }
  #form-details {
    flex-wrap: wrap;
    margin: 10px !important;
    padding: 30px 10px !important;
  }
  #form-details form {
    width: 100% !important;
    margin-bottom: 30px;
  }
  #location .map iframe {
    width: 350px !important;
    padding-left: 50px;
  }
  #add {
    display: flex;
    flex-direction: column;
  }
  #coupon {
    width: 100% !important;
  }
  #total {
    width: 100% !important;
    padding: 20px;
  }
}
/* index ends */

/* collection */
#collection-header {
  background: url(images/banner.jpeg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#collection-header h2 {
  font-family: "Playfair Display", serif;
}
#collection-header p {
  color: rgb(183, 60, 60);
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: rgb(220, 158, 158);
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}
/* collection ends */

/* product */
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 30%;
  margin-right: 50px;
}
#prodetails .single-pro-image img {
  border: 1px solid goldenrod;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input #prodetails .single-pro-details button {
  background-color: #977178;
}
#prodetails .single-pro-details span {
  line-height: 25px;
}
/* product ends */

/* blog */
.blog-header {
  background: url(images/readmore.jpeg) !important;
  width: 100% !important;
  height: 60vh !important;
  background-size: cover !important;
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  flex-direction: column !important;
  padding: 14px !important;
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 120px;
}

#blog .blog-image {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 16px;
  color: chocolate;
  font-weight: 700;
  transition: 0.3s;
}

#blog .blog-details a:hover {
  color: #977178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -59px;
  left: 0;
  font-size: 50px;
  font-weight: 700;
  color: rgb(178, 106, 106);
  z-index: -8;
}

/* blog ends */

/* about starts */
.about-header {
  background: url(images/about.jpeg) !important;
  width: 100% !important;
  height: 40vh !important;
  background-size: cover !important;
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  flex-direction: column !important;
  padding: 14px !important;
}
#about-us {
  display: flex;
  align-items: center;
}
#about-us img {
  width: 50%;
  height: auto;
}
#about-us div {
  padding-left: 40px;
}
/* about ends */

/* contact starts */
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form span {
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
#form-details form h3 {
  font-family: "Playfair Display", serif;
  color: rgb(98, 96, 96);
  line-height: 35px;
  padding: 20px 0;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: #977178;
  color: white;
}

#form-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#form-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#form-details .details li p {
  margin: 0;
  font-size: 14px;
}
#form-details .details h4 {
  padding-bottom: 10px;
  font-family: "Playfair Display", serif;
  margin-left: 80px;
}
#form-details .details h3 {
  padding-bottom: 30px;
  font-size: 25px;
  font-family: "Playfair Display", serif;
}
#form-details .details .info {
  display: flex;
}
#form-details .details .info i {
  font-size: 30px;
  padding-right: 20px;
  padding-left: 30px;
}
#location .map iframe {
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}
/* contact ends */

/* cart starts */
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
  border: 1px solid brown;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
  padding-bottom: 20px;
}
#add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#total h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button,
#total button {
  background-color: #977178;
  color: white;
  padding: 10px 20px;
}
#total {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#total table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#total table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
/* cart ends */
